<% properties.each do |p| %>
    <div id="property_partial">
        <h3><%= link_to p.title, property_path(p) %></h4>
        <p><%= p.description %></p>
        <p>Quartos: <%= p.rooms %></p>
    </div>
<% end %>