<h1 class="view_title">Meus imóveis</h1>
<% if @properties.any? %>
    <%= render "properties/properties", properties: @properties %>
<% else %>
    <div id="property_info">
        <p> Você ainda não tem imóveis cadastrados. <p/>
        <p><%= link_to 'Cadastre agora!', new_property_path %></p>
    </div>
    <% end %>