<h1 class="view_title"> Tipo de imóvel: <%= @property_type.title %> </h1>
<% if @property_type.properties.empty? %>
    <h2 style="margin-top: 50px; text-align: center">Nenhum imóvel disponível.</h2>
<% else %>
    <h2 style="margin-top: 50px; text-align: center">Imóveis disponíveis:</h2>
<% end %>

<%= render "properties/properties", properties: @property_type.properties %>

<%= render "shared/return_home" %>