<h1 style="margin-top: 50px; text-align: center"> Tipo de imóvel: </h1>
<p style="text-align: center"> <%= @property_type.title %> </p>
<p style="margin-top: 50px; text-align: center"><%= link_to 'Voltar', root_path %></p>