<h1 style="margin-top: 50px; text-align: center"> Região do imóvel: <%= @property_location.title %> </h1>

<h2 style="margin-top: 50px; text-align: center">Imóveis disponíveis:</h2>

<%= render "properties/properties", properties: @property_location.properties %>

<%= render "shared/return_home" %>