<h1 class="view_title"> Região do imóvel: <%= @property_location.title %> </h1>
<% if @property_location.properties.empty? %>
    <h2 style="margin-top: 50px; text-align: center">Nenhum imóvel disponível.</h2>
<% else %>
    <h2 style="margin-top: 50px; text-align: center">Imóveis disponíveis:</h2>
<% end %>
<%= render "properties/properties", properties: @property_location.properties %>

<%= render "shared/return_home" %>